{% extends "main.html" %}

{% block title %} Customer list {% endblock %}

{% block content %}
<h3>Customer list</h3>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Account number</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for cst in customer_list %}
        <tr>
            <th>{{ cst.id }}</th>
            <th>{{ cst.first_name }}</th>
            <th>{{ cst.last_name }}</th>
            <th>{{ cst.account_number }}</th>
            <th>
                <a href="{% url 'customer_details' cst.id %}">More>></a>
            </th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}